<div *ngIf="movie" class="container main-container animated fadeIn fast">
  <h1>{{ movie.original_title }}</h1>
  <div class="row">
    <div class="col-md-5">
      <img
        [src]="movie | imageMovies: true"
        [alt]="movie.original_title"
        class="img-thumbnail img-fluid"
      />
    </div>
    <div class="col-md-7">
      <h3>Sipnosis</h3>
      <hr />
      <p class="text-justify">{{ movie.overview }}</p>
      <h4>Famous phrase</h4>
      <p>{{ movie.tagline }}</p>
      <p>
        Rate
        <span class="badge badge-primary"
          >{{ movie.popularity | number: ".0-0" }}/10</span
        >
      </p>
      <br />
      <p>
        Vote average:
        <span class="badge badge-primary">{{ movie.vote_average }}</span>
      </p>
      <button [routerLink]="['/'+backTo, search]" routerLinkActive="router-link-active"  class="btn btn-outline-danger" type="button">Back</button>
    </div>
  </div>
</div>
